body {
    background-color: #b3eeda;
    min-height: 100vh;
    display: grid;
    /* place-content: center; */
    padding: 30px;

}

#header {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
}

#app {
    background-color: #f0e1e1;
    width: 350px;
    height: 400px;
    overflow-y: scroll;
}

.bi{
    cursor: pointer;
}

.card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0 20px 20px;
    width: 300px;
}

.left{
    margin-top: 10px;
    margin-left: 10px;
}

.right{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 13px;
}